<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignalRChatApp</title>
    <link id= "mainCSS" href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/SignalRChatApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        .input-group-text {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .input-group .form-control {
            padding-right: 2.5rem;
        }

        .input-group .input-group-append {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
            display: flex;
            align-items: center;
            padding: 0.375rem 0.75rem;
        }

            .input-group .input-group-append .input-group-text {
                background: none;
                border: none;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SignalRChatApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div class="form-check form-switch me-3" id="ModeTheme">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Mode</label>
                    </div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Themes
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item theme-item" href="#">Default</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Slate</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Solar</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Superhero</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Vapor</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Morph</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Quartz</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Sketchy</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Minty</a></li>
                            <li><a class="dropdown-item theme-item" href="#">Materia</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SignalRChatApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/DarkLightMode.js" asp-append-version="true"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
